.version.game1 /* version checker */
{
	color: #0000F6;
	background-color: #C9CC00;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u2334-9
{
	z-index: 3;
	width: 207px;
	min-height: 28px;
	background-color: transparent;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 48px;
}

#u2327
{
	z-index: 2;
	min-height: 404px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	width: 41.67%;
	left: 30.53%;
}

#u2346-4
{
	z-index: 14;
	width: 41px;
	min-height: 28px;
	background-color: transparent;
	color: #2E3192;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 889px;
}

#u2337
{
	z-index: 12;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,44,31);
	-ms-transform: matrix(-1,0,0,-1,44,31);
	transform: matrix(-1,0,0,-1,44,31);
	position: relative;
	margin-right: -10000px;
	margin-top: 428px;
	width: 4.59%;
	left: 92.4%;
}

#u2338
{
	z-index: 13;
	display: block;
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


