.version.html /* version checker */
{
	color: #0000ED;
	background-color: #977717;
}

#page
{
	z-index: 1;
	min-height: 419px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 81px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu2435-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 62px;
	width: 88.03%;
	margin-left: 4.48%;
}

#u2435-4
{
	z-index: 9;
	min-height: 56px;
	background-color: transparent;
	line-height: 38px;
	color: #000000;
	font-size: 32px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	width: 100%;
}

#u2406
{
	z-index: 2;
	min-height: 198px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 78px;
	position: relative;
	width: 31.25%;
	margin-left: 35.39%;
}

#u2425-4
{
	z-index: 5;
	width: 41px;
	min-height: 28px;
	background-color: transparent;
	color: #2E3192;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 366px;
	left: 882px;
}

#u2423
{
	z-index: 3;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,44,31);
	-ms-transform: matrix(-1,0,0,-1,44,31);
	transform: matrix(-1,0,0,-1,44,31);
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	width: 4.59%;
	left: 91.67%;
}

#u2424
{
	z-index: 4;
	display: block;
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


