.version.index /* version checker */
{
	color: #0000EC;
	background-color: #BE8068;
}

#page
{
	margin-left: auto;
	margin-right: auto;
	border-width: 3px;
	background-image: none;
	z-index: 1;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-style: solid;
}

#pu126-4
{
	margin-right: -10000px;
}

#u126-4
{
	font-size: 29px;
	color: #2E3192;
	text-align: center;
	line-height: 35px;
	min-height: 56px;
	z-index: 2;
	background-color: transparent;
	position: relative;
}

#u766-5
{
	font-size: 23px;
	margin-right: -10000px;
	line-height: 28px;
	z-index: 12;
	background-color: transparent;
	position: relative;
}

#u766-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u766
{
	font-size: 14px;
	line-height: 17px;
}

#u766-2
{
	line-height: 28px;
}

#u1125-18
{
	margin-right: -10000px;
	position: relative;
	z-index: 53;
	min-height: 98px;
	background-color: transparent;
}

#u1125-15 > li:before
{
	content: '-';
}

#u1125-4,#u1125-8,#u1125-12
{
	font-family: andika, sans-serif;
	font-weight: 400;
}

#u1125-15 > #u1125-4:before,#u1125,#u1125-3,#u1125-15 > #u1125-8:before,#u1125-5,#u1125-7,#u1125-15 > #u1125-12:before,#u1125-9,#u1125-11,#u1125-14,#u1125-16
{
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u139
{
	z-index: 6;
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
}

#pu753-4
{
	width: 0.01px;
}

#u753-4
{
	z-index: 8;
	position: relative;
	background-color: transparent;
}

#u852
{
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 17;
	background-color: transparent;
	background-size: cover;
}

#u910
{
	background-position: center center;
	margin-right: -10000px;
	background-repeat: no-repeat;
	position: relative;
	z-index: 18;
	background-color: transparent;
	background-size: cover;
}

#u922
{
	background-position: center center;
	margin-right: -10000px;
	background-repeat: no-repeat;
	position: relative;
	z-index: 19;
	background-color: transparent;
	background-size: cover;
}

#accordionu988
{
	border-width: 1px;
	position: relative;
	z-index: 20;
	border-color: #7F7F7F;
	background-color: transparent;
	border-style: solid;
}

#u989
{
	z-index: 21;
	background-color: transparent;
	position: relative;
}

#u992-4
{
	min-height: 14px;
	border-width: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	z-index: 22;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	border-style: solid;
}

#u990
{
	border-width: 1px;
	border-style: solid;
	position: relative;
	z-index: 26;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 14px;
}

#u991-6
{
	color: #7F7F7F;
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	min-height: 105px;
	z-index: 27;
	border-color: transparent;
	margin-top: -1px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	line-height: 20px;
	background-color: transparent;
}

#u991-2
{
	font-style: italic;
}

#u997
{
	z-index: 33;
	background-color: transparent;
	position: relative;
}

#u998-4
{
	min-height: 14px;
	border-width: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	z-index: 34;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	border-style: solid;
}

#u999
{
	border-width: 1px;
	border-style: solid;
	position: relative;
	z-index: 38;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 66px;
}

#u1000-4
{
	color: #999999;
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	min-height: 53px;
	z-index: 39;
	border-color: transparent;
	margin-top: -1px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	line-height: 20px;
	background-color: transparent;
}

#u993
{
	z-index: 43;
	background-color: transparent;
	position: relative;
}

#u996-4
{
	min-height: 14px;
	border-width: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	z-index: 44;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	border-style: solid;
}

#u992-4:hover,#u992-4:active,#u998-4:hover,#u998-4:active,#u996-4:hover,#u996-4:active
{
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	min-height: 14px;
	background-color: #F2F2F2;
	padding-bottom: 10px;
}

#u992-4.AccordionPanelTabOpen,#u998-4.AccordionPanelTabOpen,#u996-4.AccordionPanelTabOpen
{
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	min-height: 14px;
	background-color: #FFFFFF;
	padding-bottom: 10px;
}

#u992-4.AccordionPanelTabOpen p,#u998-4.AccordionPanelTabOpen p,#u996-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	visibility: inherit;
}

#u992-3,#u998-3,#u996-3
{
	color: #999999;
	margin-left: 10px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	line-height: 14px;
}

#u994
{
	border-width: 1px;
	border-style: solid;
	position: relative;
	z-index: 48;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 13px;
}

#u995-4
{
	color: #999999;
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	min-height: 105px;
	z-index: 49;
	border-color: transparent;
	margin-top: -1px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	line-height: 20px;
	background-color: transparent;
}

.AccordionPanelTab
{
	cursor: pointer;
}

#u1523-4
{
	z-index: 71;
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	padding-bottom: 20px;
}

@media (min-width: 921px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 735px;
		padding-bottom: 59px;
		width: 100%;
		max-width: 960px;
	}

	#pu753-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 357px;
		margin-left: -3px;
	}

	#u753-4
	{
		width: 40px;
		min-height: 28px;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
		margin-left: 20px;
	}

	#u852
	{
		width: 320px;
		height: 264px;
		background-image: url("../images/salz-u852-fr.jpg");
		margin-top: 270px;
	}

	#pu126-4
	{
		margin-top: 78px;
		width: 96.57%;
		margin-left: 1.67%;
	}

	#u126-4
	{
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
		width: 94.83%;
		margin-left: 2.05%;
	}

	#accordionu988
	{
		margin-top: 260px;
		width: 99.79%;
	}

	#u989,#u992-4
	{
		width: 100%;
	}

	#u992-4:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u992-4:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u990,#u997,#u998-4
	{
		width: 100%;
	}

	#u992-4.AccordionPanelTabOpen,#u998-4:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u998-4:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u999,#u993,#u996-4
	{
		width: 100%;
	}

	#u998-4.AccordionPanelTabOpen,#u996-4:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u996-4:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u996-4.AccordionPanelTabOpen
	{
		width: 100%;
		margin-left: 0%;
	}

	#u991-6,#u1000-4,#u995-4
	{
		width: 98.38%;
		left: 0.98%;
	}

	#u766-5
	{
		width: 687px;
		min-height: 90px;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
		margin-top: 144px;
		left: 35px;
	}

	#u1125-18
	{
		margin-top: 234px;
		width: 71.57%;
		left: 3.65%;
	}

	#pu910
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 655px;
		margin-left: 188px;
	}

	#u910
	{
		width: 320px;
		height: 264px;
		background-image: url("../images/mede-u910-fr.jpg");
		left: 130px;
	}

	#u922
	{
		width: 320px;
		height: 264px;
		background-image: url("../images/lux-u922-fr.jpg");
		left: 450px;
	}

	#u1523-4
	{
		width: 579px;
		min-height: 28px;
		color: #ED1C24;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
		margin-top: 10px;
	}

	#u139
	{
		margin-top: 161px;
		width: 18.13%;
		left: 77.09%;
	}

	#u994,#u139_img
	{
		width: 100%;
	}

}

@media (max-width: 920px)
{
	#muse_css_mq
	{
		background-color: #000398;
	}

	#bp_920.active
	{
		display: block;
	}

	#page
	{
		width: 714px;
		min-height: 794px;
	}

	#page_position_content
	{
		padding-top: 78px;
		padding-bottom: 59px;
		width: 0.01px;/* should not cover content below */
	}

	#ppu126-4
	{
		width: 0.01px;
		margin-left: 26px;
	}

	#pu126-4
	{
		width: 0.01px;
		padding-bottom: 0px;
	}

	#u126-4
	{
		width: 508px;
		font-family: bowlby-one-sc, sans-serif;
		font-weight: 400;
		margin-left: 1px;
	}

	#pu766-5
	{
		width: 0.01px;
		margin-top: 9px;
	}

	#u766-5
	{
		width: 503px;
		min-height: 141px;
		font-family: andika, sans-serif;
		font-weight: 400;
		left: 10px;
	}

	#u1125-18
	{
		width: 515px;
		margin-top: 90px;
	}

	#u139
	{
		width: 136px;
		margin-top: 4px;
		left: 526px;
	}

	#pu753-4
	{
		margin-left: -103px;
		margin-top: 64px;
	}

	#u753-4
	{
		width: 531px;
		min-height: 81px;
		font-family: andika, sans-serif;
		font-weight: 400;
		margin-right: -10000px;
		margin-top: 14px;
		left: 158px;
	}

	#u852
	{
		width: 307px;
		height: 235px;
		background-image: url("../images/salz-u852-fr2.jpg");
		margin-right: -10000px;
		margin-top: 216px;
	}

	#u910
	{
		width: 307px;
		height: 235px;
		background-image: url("../images/mede-u910-fr2.jpg");
		margin-top: 217px;
		left: 308px;
	}

	#u922
	{
		width: 307px;
		height: 235px;
		background-image: url("../images/lux-u922-fr2.jpg");
		margin-top: 217px;
		left: 613px;
	}

	#accordionu988
	{
		width: 694px;
		margin-right: -10000px;
		margin-top: -1px;
		left: 114px;
	}

	#u989,#u992-4
	{
		width: 694px;
	}

	#u992-4:hover
	{
		margin-left: 0px;
		width: 694px;
	}

	#u992-4:active
	{
		margin-left: 0px;
		width: 694px;
	}

	#u991-6
	{
		width: 683px;
		left: 6px;
	}

	#u990,#u997,#u998-4
	{
		width: 694px;
	}

	#u992-4.AccordionPanelTabOpen,#u998-4:hover
	{
		margin-left: 0px;
		width: 694px;
	}

	#u998-4:active
	{
		margin-left: 0px;
		width: 694px;
	}

	#u999,#u993,#u996-4
	{
		width: 694px;
	}

	#u998-4.AccordionPanelTabOpen,#u996-4:hover
	{
		margin-left: 0px;
		width: 694px;
	}

	#u996-4:active
	{
		margin-left: 0px;
		width: 694px;
	}

	#u996-4.AccordionPanelTabOpen
	{
		margin-left: 0px;
		width: 694px;
	}

	#u994
	{
		width: 694px;
	}

	#u1000-4,#u995-4
	{
		width: 683px;
		left: 7px;
	}

	#u1523-4
	{
		width: 531px;
		min-height: 81px;
		font-family: andika, sans-serif;
		font-weight: 400;
		margin-top: 24px;
		left: 168px;
	}

	body
	{
		min-width: 720px;
	}
}

