.version.index /* version checker */
{
	color: #00000A;
	background-color: #F5829C;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1193px;
	min-height: 794px;
	background-image: none;
	border-style: solid;
	border-width: 3px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -3px;
	padding-bottom: 59px;
	width: 0.01px;/* should not cover content below */
}

#pu94
{
	width: 0.01px;
	margin-left: -115px;
}

#u94
{
	z-index: 2;
	width: 1422px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u94_img
{
	margin-bottom: -511px;
}

#u126-4
{
	z-index: 4;
	width: 959px;
	min-height: 56px;
	text-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	line-height: 58px;
	color: #FFFFFF;
	font-size: 48px;
	text-align: center;
	font-family: nova-square, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 250px;
}

#u149-5
{
	z-index: 8;
	width: 148px;
	min-height: 49px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 3px;
	border-color: #00FFFF;
	background-color: #1B1464;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 307px;
	left: 174px;
}

#u149-5.MuseLinkActive
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	width: 148px;
	margin: 307px -10000px 0px 0px;
}

#u139
{
	z-index: 13;
	width: 227px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 1033px;
}

#u522-5
{
	z-index: 19;
	width: 148px;
	min-height: 49px;
	border-style: solid;
	border-width: 3px;
	border-color: #00FFFF;
	background-color: #1B1464;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 383px;
	left: 174px;
}

#u525-5
{
	z-index: 24;
	width: 148px;
	min-height: 49px;
	border-style: solid;
	border-width: 3px;
	border-color: #00FFFF;
	background-color: #1B1464;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 459px;
	left: 174px;
}

#u149,#u522,#u525
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u149-3,#u522-3,#u525-3
{
	font-family: nova-square, sans-serif;
	font-weight: 400;
}

#u426-4
{
	z-index: 15;
	width: 287px;
	min-height: 25px;
	background-color: transparent;
	margin-left: 889px;
	margin-top: 15px;
	position: relative;
}

.html
{
	background: #FFFFFF url("../images/mediabackground.jpg") repeat left top scroll;
}

body
{
	position: relative;
	min-width: 1199px;
	padding-bottom: 20px;
}

