	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 735px;
		padding-bottom: 59px;
		width: 100%;
		max-width: 960px;
	}

	#u1836
	{
		margin-right: -10000px;
		margin-top: 507px;
		width: 99.8%;
		left: 0.21%;
	}

	#u852
	{
		width: 315px;
		height: 255px;
		background-image: url("../images/salz-u852-fr.jpg");
		margin-top: 515px;
		left: -3px;
	}

	#u126-4
	{
		min-height: 39px;
		color: #FFFFFF;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
		margin-top: 76px;
		width: 95.84%;
		left: 1.78%;
	}

	#pu766-5
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 182px;
		margin-left: 21px;
	}

	#u766-5
	{
		width: 589px;
		min-height: 90px;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
		margin-left: 14px;
	}

	#u1523-4
	{
		width: 291px;
		min-height: 35px;
		color: #000000;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
		margin-top: 254px;
	}

	#u1125-18
	{
		margin-top: 272px;
		width: 61.36%;
		left: 3.65%;
	}

	#ppu2154
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 439px;
		margin-left: 313px;
	}

	#pu2154
	{
		width: 0.01px;
		margin-left: 127px;
	}

	#u2154
	{
		width: 58px;
		height: 53px;
		background-image: url("../images/linkedin-icon-21-u2154-fr.png");
	}

	#u2148
	{
		width: 58px;
		height: 53px;
		background-image: url("../images/twitter-u2148-fr.png");
		left: 63px;
	}

	#u2177
	{
		width: 58px;
		height: 53px;
		background-image: url("../images/logo6%20(1)-u2177-fr.png");
		left: 126px;
	}

	#u910
	{
		width: 322px;
		height: 255px;
		background-image: url("../images/mede-u910-fr.jpg");
		margin-top: 23px;
	}

	#u922
	{
		width: 321px;
		height: 255px;
		background-image: url("../images/lux-u922-fr.jpg");
		margin-top: 515px;
		left: 636px;
	}

	#u1720
	{
		margin-top: 128px;
		width: 29.28%;
		left: 67.4%;
	}


