	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 735px;
		padding-bottom: 59px;
		width: 100%;
		max-width: 960px;
	}

	#pu753-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 357px;
		margin-left: -3px;
	}

	#u753-4
	{
		width: 40px;
		min-height: 28px;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
		margin-left: 20px;
	}

	#u852
	{
		width: 320px;
		height: 264px;
		background-image: url("../images/salz-u852-fr.jpg");
		margin-top: 270px;
	}

	#pu126-4
	{
		margin-top: 78px;
		width: 96.57%;
		margin-left: 1.67%;
	}

	#u126-4
	{
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
		width: 94.83%;
		margin-left: 2.05%;
	}

	#accordionu988
	{
		margin-top: 260px;
		width: 99.79%;
	}

	#u989,#u992-4
	{
		width: 100%;
	}

	#u992-4:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u992-4:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u990,#u997,#u998-4
	{
		width: 100%;
	}

	#u992-4.AccordionPanelTabOpen,#u998-4:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u998-4:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u999,#u993,#u996-4
	{
		width: 100%;
	}

	#u998-4.AccordionPanelTabOpen,#u996-4:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u996-4:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u996-4.AccordionPanelTabOpen
	{
		width: 100%;
		margin-left: 0%;
	}

	#u991-6,#u1000-4,#u995-4
	{
		width: 98.38%;
		left: 0.98%;
	}

	#u766-5
	{
		width: 687px;
		min-height: 90px;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
		margin-top: 144px;
		left: 35px;
	}

	#u1125-18
	{
		margin-top: 234px;
		width: 71.57%;
		left: 3.65%;
	}

	#pu910
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 655px;
		margin-left: 188px;
	}

	#u910
	{
		width: 320px;
		height: 264px;
		background-image: url("../images/mede-u910-fr.jpg");
		left: 130px;
	}

	#u922
	{
		width: 320px;
		height: 264px;
		background-image: url("../images/lux-u922-fr.jpg");
		left: 450px;
	}

	#u1523-4
	{
		width: 579px;
		min-height: 28px;
		color: #ED1C24;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
		margin-top: 10px;
	}

	#u139
	{
		margin-top: 161px;
		width: 18.13%;
		left: 77.09%;
	}

	#u994,#u139_img
	{
		width: 100%;
	}


