.version.selector_de_comidas /* version checker */
{
	color: #000001;
	background-color: #C18159;
}

#page
{
	z-index: 1;
	min-height: 427px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 73px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu2373-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 104px;
	width: 88.03%;
	margin-left: 5.94%;
}

#u2373-4
{
	z-index: 2;
	min-height: 56px;
	background-color: transparent;
	line-height: 38px;
	color: #2E3192;
	font-size: 32px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	width: 100%;
}

#u2376
{
	z-index: 6;
	background-color: #6785FF;
	padding-bottom: 37px;
	margin-top: 37px;
	position: relative;
	width: 32.79%;
	margin-left: 32.9%;
}

#u2403-4
{
	z-index: 13;
	min-height: 40px;
	background-color: transparent;
	line-height: 38px;
	color: #2E3192;
	font-size: 32px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	width: 100%;
}

#u2393-4
{
	z-index: 9;
	width: 41px;
	min-height: 28px;
	background-color: transparent;
	color: #2E3192;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 887px;
}

#u2391
{
	z-index: 7;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,44,31);
	-ms-transform: matrix(-1,0,0,-1,44,31);
	transform: matrix(-1,0,0,-1,44,31);
	position: relative;
	margin-right: -10000px;
	margin-top: 396px;
	width: 4.59%;
	left: 92.19%;
}

#u2392
{
	z-index: 8;
	display: block;
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


