.version.tg /* version checker */
{
	color: #0000FF;
	background-color: #DF98D3;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu1381-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 68px;
	width: 95.84%;
	margin-left: 2.09%;
}

#u1381-4
{
	z-index: 2;
	min-height: 56px;
	background-color: transparent;
	color: #2E3192;
	font-size: 32px;
	text-align: center;
	line-height: 38px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	width: 91.85%;
	margin-left: 4.03%;
}

#tab-panelu1416
{
	z-index: 12;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 119px;
	position: relative;
	width: 100%;
}

#u1430
{
	z-index: 13;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u1435
{
	z-index: 14;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 20%;
	border-width: 1px 0px 1px 1px;
}

#u1435:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	min-height: 20px;
	width: 20%;
	margin: 0px -10000px 0px 0%;
	border-width: 1px 0px 1px 1px;
}

#u1435.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	min-height: 20px;
	width: 20%;
	margin: 0px -10000px 0px 0%;
	border-width: 1px 0px 0px 1px;
}

#u1438-4
{
	z-index: 15;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 99.46%;
}

#u1435:hover #u1438-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 99.46%;
	margin: 0px -10000px 0px 0%;
}

#u1435.TabbedPanelsTabSelected #u1438-4
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 99.46%;
	margin: 0px -10000px 0px 0%;
}

#u1431
{
	z-index: 19;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 20.11%;
	left: 19.9%;
	border-width: 1px 0px 1px 1px;
}

#u1431:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	min-height: 20px;
	width: 20.11%;
	margin: 0px -10000px 0px 0%;
	border-width: 1px 0px 1px 1px;
}

#u1431.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	min-height: 20px;
	width: 20.11%;
	margin: 0px -10000px 0px 0%;
	border-width: 1px 0px 0px 1px;
}

#u1434-4
{
	z-index: 20;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 99.46%;
}

#u1431:hover #u1434-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 99.46%;
	margin: 0px -10000px 0px 0%;
}

#u1431.TabbedPanelsTabSelected #u1434-4
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 99.46%;
	margin: 0px -10000px 0px 0%;
}

#u1439
{
	z-index: 24;
	min-height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 20.11%;
	left: 39.9%;
}

#u1439:hover
{
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	min-height: 20px;
	width: 20.11%;
	margin: 0px -10000px 0px 0%;
}

#u1440-4
{
	z-index: 25;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 98.92%;
}

#u1439:hover #u1440-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 98.92%;
	margin: 0px -10000px 0px 0%;
}

#u1546
{
	z-index: 29;
	min-height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 20.11%;
	left: 59.9%;
}

#u1546:hover
{
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	min-height: 20px;
	width: 20.11%;
	margin: 0px -10000px 0px 0%;
}

#u1548-4
{
	z-index: 30;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 98.92%;
}

#u1546:hover #u1548-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 98.92%;
	margin: 0px -10000px 0px 0%;
}

#u1612
{
	z-index: 34;
	min-height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	width: 20.11%;
	left: 79.9%;
}

#u1612:hover
{
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	min-height: 20px;
	width: 20.11%;
	margin: 0px -10000px 0px 0%;
}

#u1439.TabbedPanelsTabSelected,#u1546.TabbedPanelsTabSelected,#u1612.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	min-height: 20px;
	width: 20.11%;
	margin: 0px -10000px 0px 0%;
	border-width: 1px 1px 0px;
}

#u1614-4
{
	z-index: 35;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 98.92%;
}

#u1612:hover #u1614-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 98.92%;
	margin: 0px -10000px 0px 0%;
}

#u1439.TabbedPanelsTabSelected #u1440-4,#u1546.TabbedPanelsTabSelected #u1548-4,#u1612.TabbedPanelsTabSelected #u1614-4
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 98.92%;
	margin: 0px -10000px 0px 0%;
}

#u1435.TabbedPanelsTabSelected #u1438-4 p,#u1431.TabbedPanelsTabSelected #u1434-4 p,#u1439.TabbedPanelsTabSelected #u1440-4 p,#u1546.TabbedPanelsTabSelected #u1548-4 p,#u1612.TabbedPanelsTabSelected #u1614-4 p
{
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1417
{
	z-index: 39;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u1418
{
	z-index: 40;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 106px;
	margin-right: -10000px;
	position: relative;
	width: 100%;
	border-width: 0px 1px 1px;
}

#u1421-11
{
	z-index: 41;
	min-height: 105px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	width: 95.33%;
	left: 2.18%;
}

#u1421-8
{
	color: #000000;
	font-family: andika, sans-serif;
	font-weight: 400;
}

#u1421-9
{
	color: #999999;
	font-family: Comic Sans, Comic Sans MS, cursive;
}

#u1422
{
	z-index: 52;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 52px;
	margin-right: -10000px;
	position: relative;
	width: 100%;
	border-width: 0px 1px 1px;
}

#u1535-21
{
	z-index: 53;
	min-height: 191px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	width: 95.33%;
	left: 2.18%;
}

#u1426
{
	z-index: 74;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 103px;
	margin-right: -10000px;
	position: relative;
	width: 100%;
	border-width: 0px 1px 1px;
}

#u1609-7
{
	z-index: 76;
	min-height: 36px;
	background-color: transparent;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	width: 33.81%;
	left: 4.9%;
}

#u1590
{
	z-index: 75;
	height: 123px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	width: 46.64%;
	left: 46.96%;
	background: transparent url("../images/filter.jpg") no-repeat center center;
	background-size: contain;
}

#u1558
{
	z-index: 83;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	margin-right: -10000px;
	position: relative;
	width: 100%;
	border-width: 0px 1px 1px;
}

#u1627-19
{
	z-index: 84;
	min-height: 181px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	width: 36.2%;
	left: 5.77%;
}

#u1421-2,#u1421-4,#u1421-6,#u1535-2,#u1535-4,#u1535-7,#u1535-9,#u1535-11,#u1535-13,#u1535-15,#u1535-17,#u1627-2,#u1627-3,#u1627-5,#u1627-7,#u1627-9,#u1627-11,#u1627-13,#u1627-14,#u1627-15
{
	color: #000000;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1535-18,#u1535-19,#u1627-16,#u1627-17
{
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu1630-4
{
	margin-right: -10000px;
	margin-top: 27px;
	width: 40.44%;
	margin-left: 48.7%;
}

#u1630-4
{
	z-index: 103;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	width: 83.61%;
}

#u1633
{
	z-index: 107;
	height: 201px;
	margin-top: 7px;
	position: relative;
	width: 100%;
	background: transparent url("../images/result.jpg") no-repeat left top;
	background-size: contain;
}

#u1624
{
	z-index: 108;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 47px;
	margin-right: -10000px;
	position: relative;
	width: 100%;
	border-width: 0px 1px 1px;
}

#u1644
{
	z-index: 109;
	height: 215px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	width: 29.9%;
	left: 3.16%;
	background: transparent url("../images/gui1.jpg") no-repeat center center;
	background-size: contain;
}

#pu1650
{
	margin-right: -10000px;
	margin-top: 33px;
	width: 29.9%;
	margin-left: 34.14%;
}

#u1650
{
	z-index: 110;
	height: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	width: 1.82%;
	left: 42.55%;
}

.ie #u1650
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1653
{
	z-index: 111;
	height: 215px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	background: transparent url("../images/gui2.jpg") no-repeat left top;
	background-size: contain;
}

#u1647
{
	z-index: 112;
	height: 215px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	width: 29.9%;
	left: 65.22%;
	background: transparent url("../images/gui3.jpg") no-repeat left top;
	background-size: contain;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u1509-9
{
	z-index: 113;
	min-height: 36px;
	background-color: transparent;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-top: 32px;
	position: relative;
	width: 74.68%;
	margin-left: 3.27%;
}

#u1421-7 > li:before,#u1535-5 > li:before,#u1535-16 > li:before,#u1627-12 > li:before,#u1509-6 > li:before
{
	content: '-';
}

#u1384-4
{
	z-index: 6;
	width: 846px;
	min-height: 63px;
	background-color: transparent;
	font-size: 23px;
	line-height: 28px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 57px;
}

#u1384-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1384
{
	font-size: 14px;
	line-height: 17px;
}

#u1387
{
	z-index: 10;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,44,31);
	-ms-transform: matrix(-1,0,0,-1,44,31);
	transform: matrix(-1,0,0,-1,44,31);
	position: relative;
	margin-right: -10000px;
	margin-top: 586px;
	width: 4.59%;
	left: 93.34%;
}

#u1388
{
	z-index: 11;
	display: block;
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


